<%= form_for(@voice_logger) do |f| %>
  <% if @voice_logger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voice_logger.errors.count, "error") %> prohibited this voice_logger from being saved:</h2>

      <ul>
      <% @voice_logger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emailaddress %><br />
    <%= f.text_field :emailaddress %>
  </div>
  <div class="field">
    <%= f.label :detectedstring %><br />
    <%= f.text_area :detectedstring %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
